@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bebas+Neue&family=Carattere&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lilita+One&family=Luxurious+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tangerine:wght@400;700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  --mg: #ffc400;
  --ml: #c03939;
  --m: #a12828;
  --md: #6d0e1b;
  --c: #1F1F1F;
  --g: #333333;
  --g2: #555555;
  --dr: #C48A8A;
  --ow: #FAFAFA;
  --iv: #F7F3EF;
  --bg-section: #fff0f0;
  --sg: #B8B2AD;
}

/* =========================
  GLOBAL RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--iv);
  color: var(--c);
  overflow-x: hidden;
  padding: 0 10%;
}

.section > * {
  position: relative;
  z-index: 1;
}

.section {
  padding: 100px 8%;
}

/* =========================
  HEADER
========================= */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "l", serif;
  padding: 10px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, .1);
  z-index: 1000;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--m);
  text-decoration: none;
  letter-spacing: 2px;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--g);
  font-size: .8rem;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--m);
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 4px 32px;
  border-radius: 30px;
  border: 1px solid var(--m);
  background: transparent;
  color: var(--m);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: var(--m);
  color: var(--ow);
}

/* =========================
  HERO
========================= */
#section-beranda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
}
#section-beranda::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("pngwing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.05;
  z-index: 0;
}

.hero {
  flex: 1;
}

.hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.judul {
  font-size: 7.5rem;
  font-family: 'Playfair Display', serif;
}

.judul span {
  color: var(--ml);
}

.subjudul {
  font-size: 1.1rem;
  margin: 10px 0;
  color: var(--g);
  line-height: 1.6;
}

.search-wrapper {
  margin-top: 25px;
  position: relative;
}

.search-wrapper input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 40px;
  border: 1px solid var(--g2);
  background: var(--iv);
}
.search-wrapper input:hover {
  border: 1px solid var(--m);
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 20px;
  color: var(--m);
}

/* TEMPLATE CARD */
.template {
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(212,175,55,0.05);
  text-align: center;
}

.template img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}
.template .subjudul {
  font-size: 1.4rem;
  margin-bottom: 7px;
}
.template p {
  font-size: 14px;
  color: var(--g2);
  line-height: 1.5;
}

.btn-create {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.btn1 {
  background: var(--m);
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn1:hover {
  transform: translateY(-3px);
}


/* =========================
  FITUR SECTION
========================= */

#section-fitur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  min-height: 100vh;
  background: linear-gradient(to top, var(--iv), var(--bg-section) 90%);
}
#section-fitur::before {
  content: '';
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("bg-fitur.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.05;
  z-index: 0;
}

.fitur-title {
  text-align: center;
  margin-bottom: 1rem;
}

.fitur-title h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  color: var(--c);
}
.fitur-title p {
  width: 100%;
  font-size: 1.1rem;
  color: var(--g2);
  line-height: 1.6;
  padding: 0 20%;
  margin-top: 12px;
}

.fitur-wrapper {
  display: flex;
  justify-content: center;
}

.fitur-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 25px;
  width: 100%;
}

.fitur-card {
  background: var(--iv);
  padding: 22px;
  box-shadow: 2px 2px 11px rgba(0,0,0,0.12);
  border-radius: 20px;
  transition: 0.4s;
}

.fitur-card:hover {
  transform: translateY(-6px);
  box-shadow: 2px 2px 20px rgba(0,0,0,0.09);
}
.fitur-card h3 {
  color: var(--g);
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.fitur-card p {
  font-size: 14px;
  color: var(--g2);
  line-height: 1.5;
}

.fitur-icon {
  font-size: 24px;
  color: var(--ml);
  margin-bottom: 15px;
}

/* =========================
  PRICING SECTION
========================= */
#section-pricing {
  background: linear-gradient(to bottom, var(--bg-section), var(--iv) 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

#section-pricing::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("pricing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.05;
  z-index: 0;
}

.pricing-title {
  text-align: center;
  margin-bottom: 60px;
}
.pricing-title h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  color: var(--c);
}
.pricing-title p {
  width: 100%;
  font-size: 1.1rem;
  color: var(--g2);
  line-height: 1.6;
  padding: 0 20%;
  margin-top: 12px;
}

.member-icon-starter {
  width: 80px;
  margin: 21px 0;
}

.member-icon {
  width: 80px;
  margin-bottom: 10px;
}

.pricing-title {
  text-align: center;
  margin-bottom: 60px;
}

.pricing-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 30px;
}

.pricing-card {
  background-image: linear-gradient(to bottom right, 
  rgb(233, 233, 233),
  rgb(255, 255, 255) 50%,
  rgb(214, 214, 214));
  width: 280px;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid rgb(160, 160, 160);
  transition: 0.4s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pricing-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, .14);
}

.popular {
  border: 1px solid rgb(160, 160, 160);
}
.popular:hover {
  border: 1px solid var(--mg);
}

.popular-badge {
  position: absolute;
  top: -12px;
  right: 20px;
  background: var(--ml);
  color: var(--ow);
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 20px;
}

.plan-name {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0;
}

.features {
  list-style: none;
  margin: 20px 0;
}

.features li {
  margin-bottom: 10px;
  font-size: 14px;
}

.features .bxs-checkbox-checked {
  color: green;
  margin-right: 6px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: var(--gold-soft);
  margin-bottom: auto;
}

.btn-outline {
  margin-top: 35px;
  text-align: center;
  text-decoration: none;
  border: none;
  color: var(--c);
  transition: 0.3s;
}

.btn-outline:hover {
  background: transparent;
  color: var(--mg);
}

/* =========================
  SCROLL ANIMATION
========================= */

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: beda arah animasi */
.reveal-left {
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.8s ease;
}

.reveal-left.active {
  opacity: 1;
  transform: translateX(0);
}

.reveal-right {
  opacity: 0;
  transform: translateX(60px);
  transition: all 0.8s ease;
}

.reveal-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* =========================
  RESPONSIVE
========================= */
@media (max-width: 900px) {
  #section-beranda {
    flex-direction: column;
  }
}

